.home-btn {
  font-size: 1.1rem;
}

@media screen and (max-width: 300px) {
  .home-title {
    font-size: 3px;
  }
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
  font-size: 1.2rem;
  transition: 300ms;
}

button:hover {
  cursor: pointer;
  /* background-color: whitesmoke; */
}

.logoImg {
  height: 30vh;
}
